@font-face {
    font-family: "Gilroy-Extrabold", sans-serif;
    src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff") format("woff");
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy-Bold", sans-serif;
    src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy-Semibold", sans-serif;
    src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy-Regular", sans-serif;
    src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
}



@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot");
    src: url("../fonts/icomoon.eot") format("embedded-opentype"), 
     url("../fonts/icomoon.woff") format("truetype"),
     url("../fonts/icomoon.ttf") format("woff"), 
     url("../fonts/icomoon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: "icomoon";
//    speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\e986";
}

.icon-heart:before {
    content: "\e9da";
}

.icon-user:before {
    content: "\e971";
}

.icon-close:before {
    content: "\e902";
}

.icon-chevron-left:before {
    content: "\e900";
}

.icon-chevron-right:before {
    content: "\e901";
}

.icon-shopping-cart:before {
    content: "\e93a";
}

.icon-heart-o:before {
    content: "\e903";
}

  


