$text: #202020;
$black: #000;
$white: #fff;
$header-top-bg: #edebe9;
$hoverText: #777;
$peach: #f3e9e2;
$olive: #8aff8a;
$underline: #dadada;
$gray: #edebe9;

@mixin f400 {
    font-family: "Gilroy-Regular", sans-serif;
    font-weight: 400;
}

@mixin f500 {
    font-family: "Gilroy-Semibold", sans-serif;
    font-weight: 500;
}

@mixin f600 {
    font-family: "Gilroy-Bold", sans-serif;
    font-weight: 600;
}

@mixin f800 {
    font-family: "Gilroy-Extrabold", sans-serif;
    font-weight: 800;
}

